{% load static %}
<section class="hero">
	<div class="contenedor">
		<div class="hero__informacion">
			<div class="boton atras" onclick="atras();">
			<i class="fas fa-chevron-left"></i>
		</div>
		
		<div class="boton siguiente" onclick="siguiente();">
			<i class="fas fa-chevron-right"></i>
		</div>
		<div class="img">
		</div>
		</div>
		
	</div>
</section>
<script>	
let imagenes=new Array("{% static 'img/mercado1.png' %}", "{% static 'img/mercado2.png' %}", "{% static 'img/mercado3.png' %}", "{% static 'img/mercado4.png' %}");
let posicion = 0;
let img = document.querySelector('.img');
img.style.backgroundImage='url('+imagenes[posicion]+')';

function atras(){
	if(posicion == 0){
		posicion=3;
	} else{
		posicion--;
	}
	img.style.backgroundImage='url('+imagenes[posicion]+')';
}	

function siguiente(){
	if(posicion == 3){
		posicion=0;
	} else{
		posicion++;
	}
	img.style.backgroundImage='url('+imagenes[posicion]+')';
}	

setInterval(function(){
	siguiente();
}, 9000);
</script>