<footer class="footer">
	<div class="contenedor">
		<section class="contacto">
			<h3 class="footer__contacto">Contacto</h3>
			<div class="contacto__informacion">
				<span class="contacto__direccion contacto__item"><i class="fas fa-map-marker-alt"></i>Uruguay 490, Gral. José de San Martín, Chaco</span>
			    <span class="contacto__email contacto__item"><i class="fas fa-envelope-open-text"></i>ejemplo@ejemplo.com</span>
			    <span class="contacto__tel contacto__item"><i class="fas fa-headset"></i>(+54) 123-456-789</span>
			</div>
		</section>
		<section class="copy">
			<p class="copy__nombre">Copyright &copy; 2021 Mr Bot</p>
		</section>
		<div class="metodos-pago">
			<span class="maestro tarjeta"></span>
			<span class="mastercard tarjeta"></span>
			<span class="visa tarjeta"></span>
		</div>
	</div>
</footer>