{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--bootstrap 5-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/1356b06277.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<body>	
	<div class="mensaje-publicitario">
		<h3 class="mensaje-publicitario__titulo centrar-text">La mejor tienda de Gral. San Martín</h3>
	</div>

	{% include 'navbar.html' %}
	
	{% include 'carousel.html' %}

	{% block content %}
	{% endblock %}
	</section>
	<main class="compras">
		<div class="contenedor">
			<section class="productos">
				<h1 class="productos__titulo">Ofertas Imperdibles</h1>
				{% if categoria_seleccionada %}
        		<div class="alert alert-info" role="alert">{{ categoria_seleccionada }}</div>
   				{% else %}
       			<div class="alert alert-info" role="alert">Todos los Productos</div>
    			{% endif %}
				<section class="productos__entradas">
				{% include 'productos/card_productos.html' with lista_productos=lista_productos %}
				</section>
			</section>
		</div>
	</main>

<!---paginate--->
	<nav aria-label="Page navigation example">
	  {% if page_obj.has_next or page_obj.has_previous %}
	    <ul class="paginacion">
	    {% if page_obj.has_previous %}
		    <li class="paginacion__items formulario__btn"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
			</li>
		{% endif %}
		{% for page in page_obj.paginator.page_range %}
		    <li class=" paginacion__items formulario__btn {% if page_obj.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
		    </li>
		{% endfor %}
		{% if page_obj.has_next %}
		    <li class="paginacion__items formulario__btn"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
		    </li>
		{% endif %}
		</ul>
	  {% endif %}
	</nav>
</div>

<!--	<div class="container">	
		<div class="row" >
		{% block contenido %}

		{% endblock %}
		</div>
	</div>
	<br><br>
</div>--->
	
	{% include 'footer.html' %}
</body>

{% endblock %}