{% load static %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
		integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

<header class="header-principal">
		<div class="contenedor">
			<div class="barrar-header">
				<div class="search-user-menu flex-h-v">
					<a href="{% url 'index' %}" class="logo">
						<img src="{% static 'img/logotipo.png' %}" alt="logotipo">
					</a>
					{% include "productos/search_form.html"%}
					<div class="carrito">
						<a href="{% url 'productos:carrito' %}" class="carrito__icon"><i class="fas fa-shopping-cart"></i></a>
						<!-- <span class="carrito__producto flex-h-v">0</span> -->
						<i class="fas fa-user carrito__usuario"></i>
					</div>
					<i class="fas fa-bars menu-principal__open"></i>
				</div>
			</div>
		</div>
		<section class="usuario">
			<div class="contenedor">
				{% if request.user.is_authenticated %}
				<a class="formulario__btn" href="{% url 'usuarios:cerrarSesion' %}">Cerrar Sesion</a>
				{% else %}
				<form class="formulario" method="POST">
					{% csrf_token %}
					<h3 class="usuario__titulo">Crear Cuenta</h3>	
					{% for x in forms %}				
      					{{ x }}
      					{{ x.errors }}
      				{% endfor %}      				
					<input class="formulario__btn" type="submit" value="Registrarme">					
				</form>
				{% endif %}
			</div>
		</section>
		<nav class="menu-principal">
			<ul class="menu">
				<li class="menu__items"><a class="menu__link" href="{% url 'index' %}">Inicio</a></li>
				<li class="menu__items"><a class="menu__link" href="#">Ofertas</a></li>
				<li class="menu__items item-submenu"><a class="menu__link subcategoria" href="#"><i class="fas fa-caret-down submenu__icon"></i>Categorias</a>
				<ul class="submenu">
					<li class="submenu__items">
						{% for categoria in lista_categorias %}
						<a class="submenu__link" href="{% url 'productos:filtro_categoria' categoria.id%}">
						{{ categoria }}
						</a>
						{% endfor %}
					</li>
				</ul>
				</li>
				<li class="menu__items"><a class="menu__link" href="{% url 'productos:crear_producto' %}">Agregar Producto</a></li>
				<li class="menu__items"><a class="menu__link" href="{% url 'productos:agregar_categoria' %}">Crear categorias</a></li>
				<i class="fas fa-times menu-principal__close"></i>
			</ul>
		</nav>
	</header>

<script src="{% static 'js/app.js' %}"></script>