{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="contenido-principal">
	<div class="mensaje-publicitario">
		<h3 class="mensaje-publicitario__titulo centrar-text">La mejor tienda de Gral. San Martín</h3>
	</div>

	{% include 'navbar.html' %}
	<div class="contenedor">
		<section class="configuraciones-generales">
			<h2 class="ajuste__titulo">Ajustes Generales</h2>
			<div class="barra-configuracion"></div>
				<nav class="configuracion__opciones">
					<a class="configuracion__opciones__link" href="add_categorias.html">Agregar Categoria</a>
					<a class="configuracion__opciones__link active" href="{% url 'productos:crear_producto' %}">Agregar Producto</a>
				</nav>
				<form class="categorias-campos" method="POST" enctype="multipart/form-data" action="{% url 'productos:agregar_categoria' %}">
					{% csrf_token %}
					<fieldset>
						<legend class="categorias-campos__titulo">Agregar categoria</legend>
						<div class="campos-add">
							<div class="campo">
								{{ form.categoria }}{{ form.categoria.errors }}
							</div>
							<input type="submit" value="Agregar" class="formulario__btn">
						</div>
					</fieldset>					
				</form>
					<fieldset>
						<legend class="categorias-campos__titulo">Categorias existentes</legend>
						<div class="categotias-existentes">
							{% for categoria in lista_categorias %}
							<div class="campo__categoria">
								<span class="campo__categoria__nombre">{{ categoria }}</span>
								<a href="{% url 'productos:editar_categoria' categoria.id %}" class="formulario__btn">Editar Categoria</a>
        						<a href="{% url 'productos:borrar_categoria' categoria.id %}" class="formulario__btn">Borrar Categoria</a>
							</div>{% endfor %}
						</div>
					</fieldset>
			</section>
			
		</div>
{% include 'footer.html' %}
	<!--scripts de Jorge-->
	<script src="{% static 'js/app.js' %}"></script>
	<!--scripts Carrito-->
	<script type="text/javascript" src="{% static 'js/carrito.js' %}"></script>
	<!--scripts de bootstrp-->
	<script src="https://kit.fontawesome.com/1356b06277.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</main>
{% endblock %}