{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="contenido-principal">
	<div class="mensaje-publicitario">
		<h3 class="mensaje-publicitario__titulo centrar-text">La mejor tienda de Gral. San Martín</h3>
	</div>

	{% include 'navbar.html' %}
	<div class="contenedor">
		<section class="configuraciones-generales">
			<h2 class="ajuste__titulo">Ajustes Generales</h2>
			<div class="barra-configuracion"></div>
				<nav class="configuracion__opciones">
					<a class="configuracion__opciones__link" href="add_categorias.html">Agregar Categoria</a>
					<a class="configuracion__opciones__link active" href="{% url 'productos:crear_producto' %}">Agregar Producto</a>
				</nav>
				<div class="agregar-productos">
					<form method="POST" enctype="multipart/form-data" action="{% url 'productos:crear_producto' %}">
						<fieldset>
						<legend>Agregar Producto</legend>
						<div class="campos-productos">
						{% csrf_token %}
							<div class="campo_p">
							 {{ form.titulo }}{{ form.titulo.errors }}
							</div>
							<div class="campo_p">
								{{ form.categoria }} {{ form.categoria.errors }}
							</div>
							<div class="campo_p">
								{{ form.contenido }}{{ form.contenido.errors }}
							</div>
							<div class="campo_p">
								{{form.precio}} {{form.precio.errors}}
							</div>
							<div class="campo_p">
								{{form.precio_oferta}} {{form.precio_oferta.errors}}
							</div>
							<div class="campo_p">
								{{ form.productos_disponibles }}{{ form.productos_disponibles.errors }}
							
							</div>
							<div class="campo_p">
								<label for="file" class="formulario__btn">Agregar imágen</label>
								{{ form.imagen }} {{ form.imagen.errors }}
							</div>
						</div>
						<div class="campo_p">
								<input type="submit" class="formulario__btn" value="Agregar producto">
							</div>
					</fieldset>
					</form>
					<div class="productos-existentes">
						<fieldset>
							<legend>Productos Agregados</legend>
							
							<div class="productos-division">
								{% for prod in lista_productos %}
								<div class="producto__existente">
								<img class="producto__existente-img" src="{{ prod.imagen.url }}" alt="producto">
								<div class="producto__existente-informacion">
									<span class="nombre">{{prod.titulo}}</span>
									<span class="nombre">{{prod.contenido | truncatechars:30 }}</span>
									<span class="precio">${{prod.precio}}</span>
									<span class="producto__existente-disponible">${{ prod.precio_oferta }}</span>
									{% if productos.productos_disponibles %}
									<span class="nombre">Disponible</span>
									{% else %}
									<span class="producto__existente-disponible">Disponible</span>
									{% endif%}
									<a href="{% url 'productos:editar_producto' prod.id %}" class="formulario__btn">Editar Producto</a>
        							<a href="{% url 'productos:borrarProducto' prod.id %}" class="formulario__btn">Borrar Producto</a>
								</div>
							</div>
							{% endfor %}
							</div>
							
						</fieldset>
					</div>
				</div>
		</section>
	</div>
	{% include 'footer.html' %}
	<!--scripts de Jorge-->
	<script src="{% static 'js/app.js' %}"></script>
	<!--scripts Carrito-->
	<script type="text/javascript" src="{% static 'js/carrito.js' %}"></script>
	<!--scripts de bootstrp-->
	<script src="https://kit.fontawesome.com/1356b06277.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</main>
{% endblock %}
