{% for productos in lista_productos %}
<article class="producto">
	<img class="producto__imagen" src="{{ productos.imagen.url }}" alt="producto">
	<div class="nombre-precios">
		<span class="nombre">{{productos.titulo}}</span>
		<span class="nombre">{{productos.contenido | truncatechars:30 }}</span>
		<span class="precio">${{productos.precio}}</span>
		<span class="producto__existente-disponible">${{ productos.precio_oferta }}</span>
		{% if productos.productos_disponibles %}
		<span class="nombre">Disponible</span>
		{% else %}
		<span class="producto__existente-disponible">Disponible</span>
		{% endif%}
		
	</div>
	<!-- <a class="producto__comprar" href="#">Agregar producto</a> -->
	<form method="POST" action="{% url 'productos:agregarCarrito' productos.id%}" enctype="multipart/form-data">
	         {% csrf_token %}         
	         {{form_carrito}}
	    	<input onclick="agregar()" type="submit" class="producto__comprar" value="Agregar al Carrito">     
	</form>

<!--
{#{% if request.user == producto.usuario %}#}	
        <a href="{% url 'productos:editar_producto' productos.id %}" class="formulario__btn">Editar Producto</a>
        <a href="{% url 'productos:borrarProducto' productos.id %}" class="formulario__btn">Borrar Producto</a>
 {#  {% endif %}#} -->
</article>
<script type="text/javascript">

const producto = document.querySelector(".body");
function agregar() {
	const add = document.createElement("SPAN");
	add.textContent = "El producto se agrego correctamente";
	add.classList.add("exito");
	producto.appendChild(add);
	console.log(add);

	setTimeout(() => {
		add.remove();
	}, 800)
	
}


</script>
{% endfor %}