{% extends 'base.html' %}
{% load static %}
{% block body %}

{% block contenido %}
<form action="" >
{{ form }}
<button class="formulario__btn" type="submit">Buscar</button> 
</form>

<h1>Resultado</h1>
<hr>
<div><h2>Productos</h2>
<div class="contenedor">
{% include 'productos/card_productos.html' with lista_productos=lista_productos %}
</div>
</div>
{% endblock %}
{% endblock %}