{% extends 'base.html' %}
{% load mathfilters%}
{% load static %}
{% block body %}
<main class="contenido-principal">
	<div class="mensaje-publicitario">
		<h3 class="mensaje-publicitario__titulo centrar-text">La mejor tienda de Gral. San Martín</h3>
	</div>

	{% include 'navbar.html' %}
<main class="contenido-principal">
		<div class="contenedor">
			<section class="carrito-compra">
				<h2 class="carrito-compra__titulo">
					Carrito
				</h2>
				{% for carrito in carritos %}
  {% if request.user == carrito.usuario %}
				<div class="carrito__barra"></div>
				<div class="carrito__compra">
				<div class="carrito-compra__imagen">
					<img src="{{ carrito.producto.imagen.url }}" alt="compra1">
				</div>
				<div class="carrito-compra__informacion">
					<p class="carrito-compra__nombre">{{carrito.producto.titulo}}</p>
					<p class="carrito-compra__precio">Precio unidad: ${{carrito.producto.precio_oferta}}</p>
					<p class="carrito-compra__precio">total: $ {{ carrito.cantidad|mul:carrito.producto.precio_oferta}}</p>
					<p class="carrito-compra__disponibilidad">Disponible</p>
					<div class="campos__opciones">
						<form method="POST" action="{% url 'productos:editar_carrito' carrito.id %}" enctype="multipart/form-data">
          {% csrf_token %}          

						{{ form_carrito.cantidad}}
						<button type="submit" class="producto__comprar">modificar carrito</button><hr>
						<a href="{% url 'productos:borrar_carrito' carrito.id %}" class="producto__comprar">Eliminar</a>
					</form>
					</div>
				</div>
			</div>

			<div class="contenedor">
				<div class="carrito-subtotal">
					<div class="total-compra">
						<h3 class="subtotal">Subtotal <span> {{ total_cantidad }}</span></h3>
						<a title="Realizar el pago" class="compra__precio" href="#">${{total}}</a>
					</div>
				</div>
			</div>
			</section>
			{% endif %}
{% endfor %}
		</div>
	</main>
	{% include 'footer.html' %}
	<!--scripts de Jorge-->
	<script src="{% static 'js/app.js' %}"></script>
	<!--scripts Carrito-->
	<script type="text/javascript" src="{% static 'js/carrito.js' %}"></script>
	<!--scripts de bootstrp-->
	<script src="https://kit.fontawesome.com/1356b06277.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
{% endblock %}